{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"targets": {
					"browsers": [
						"> 1%",
						"last 2 versions",
						"not ie <= 8"
					]
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": 2
			}
		],
		"react-hot-loader/babel",
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-transform-arrow-functions"
		],
		[
			"@babel/plugin-proposal-class-properties"
		],
		[
			"import",
			{
				"libraryName": "redux-persist",
				"libraryDirectory": "es"
			}
		],
		[
			"import",
			{
				"libraryName": "antd",
				"libraryDirectory": "lib",
				"style": true
			},
			"antd"
		]
	],
	"env": {
		"test": {
			"presets": [
				"@babel/preset-env",
				"@babel/stage-0",
				"@babel/preset-react"
			],
			"plugins": [
				"istanbul"
			]
		}
	}
}